<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome Email from Event Management</title>
</head>
<body style="margin:0; padding: 0; background-color: lightgray; font-family: Arial, sans-serif;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" style="background-color: lightgray;">
                <br />
                <br />
                <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: darkcyan; color: white;">
                    <tr>
                        <td align="left" valign="top" style="background-color: #3c8aac; font-size: 26px; padding: 10px; text-align:center;">
                            <b>{0}</b>
                            <br />
                            <span style="font-size: 18px;">{1} - Event Management</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" style="background-color: white;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding: 10px; color: #564319;">
                                        <strong>Congratulations! <small>You are registered.</small></strong>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="color: darkslategray;">
                                <tr>
                                    <td style="font-size: 16px;">
                                        <p>Dear {2},</p>
                                        <p>Thank you for showing your interest in our website. All you need to do is click the button below, to verify your account.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="padding: 10px;">
                                        <hr style="border: 1px solid darkslategray; margin-top: 20px; margin-bottom: 20px;" />
                                        <button type="button" title="Confirm Account Registration" style="background-color: #3c8aac; border: none; padding: 10px; font-size: 18px; color: white;">
                                            <a href="{4}" style="text-decoration: none; color: white;">Confirm Email</a>
                                        </button>
                                        <hr style="border: 1px solid darkslategray; margin-top: 20px; margin-bottom: 20px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: lightgray; color: white;">
                        <tr>
                            <td align="left" valign="top" style="background-color: #3c8aac; font-size: 26px; padding: 10px; text-align:center;">
                                <b>Welcome</b>
                                <br />
                                <span style="font-size: 18px;"> - Event Management</span>
                            </td>
                        </tr>
                        <tr>
                    </table>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>