<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Dependencies.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/paymentSuccess.css" />
    <title>Registration Success</title>
</head>
<body>
    <div class="container">
        <div class="success">
            <i class="bi bi-check-lg success-icon"></i>
            <h1>You have been successfully registered for the event</h1>
            <a asp-controller="PurchasedTickets" asp-action="Index" class="btn">Tickets</a>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>
    <script>
        const runFireworks = () => {
            var duration = 10 * 1000;
            var animationEnd = Date.now() + duration;
            var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

            function randomInRange(min, max) {
                return Math.random() * (max - min) + min;
            }

            var interval = setInterval(function () {
                var timeLeft = animationEnd - Date.now();

                if (timeLeft <= 0) {
                    return clearInterval(interval);
                }

                var particleCount = 50 * (timeLeft / duration);
                confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
                confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
            }, 250);
        }
        runFireworks();
    </script>
}