@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" href="~/css/ticketIndex.css" />

<div id="encryptedId" style="display: none;">@ViewBag.EncryptedId</div>

<div class="ticketSection">
	<div class="ticketContainer">
		<div class="ticketTittle">
			<h1>Tickets</h1>
		</div>
		<div class="ticketWrapper">
			<div class="actionsWrapper">
				<div class="ticketControls">
					<div class="createTicketBtn">
						<a asp-controller="" asp-action="" class=""><i class="fa-solid fa-plus"></i> Add Ticket</a>
					</div>
					<div class="ticketSearchForm">
						<input type="text" id="searchInput" placeholder="Search ticket">
						<i class="search-icon fa-solid fa-search"></i>
					</div>
				</div>
			</div>
			<div class="layoutWrapper">
				<div class="ticketDataHeaderWrapper">
					<div class="ticketDataHeader">
						<div class="ticketHeaderTitle">
							<div class="ticketTitle">
								<h1>Ticket</h1>
							</div>
							<div class="ticketTotalQuantity">
								<h1>TotalTickets</h1>
							</div>
						</div>
						<div class="ticketHeaderDetails">
							<div class="ticketQuantity">
								<h1>AvailableTickets</h1>
							</div>
							<div class="ticketPrice">
								<h1>Price</h1>
							</div>
							<div class="ticketStatus">
								<h1>Status</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="ticketDataBodyWrapper">
					<div class="ticketBodyDataItems">
						@*<div class=" ticketBodyData">
							<div class="ticketBodyTitle">
								<div class="ticketName">

								</div>
								<div class="ticketDate">
								</div>
							</div>
							<div class="ticketBodyTotalQuantity">
								<div class="totalTickets">
								</div>
							</div>
						</div>*@
					</div>
					<div class="ticketBodyDataDetails">
						@*<div class="ticketDataDetails">
							<div class="ticketQuantity">
								46
							</div>
							<div class="ticketPrice">
								20
							</div>
							<div class="ticketStatus">
								Available
							</div>
						</div>*@
					</div>
					<div class="ticketBodyActions">
						@*<div class="ticketActions">
							<div class="actions">
								<i class="fa-solid fa-ellipsis-vertical"></i>
							</div>
						</div>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts{

	<script src="~/js/viewTicket.js"></script>

}