@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div id="encryptedId" style="display: none;">@ViewBag.EncryptedId</div>
<h1>fsdfdsgds</h1>




@section Scripts{

	<script src="~/js/ticket.js"></script>

}