@using Domain._DTO.Role
@model IEnumerable<RoleDto>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Role Data";
}



<div class="container">
    <div class="role-item">
        <h2>Role List</h2>
        <a asp-controller="Role" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New Role</a>
    </div>

    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Role Name</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        <div role="group">
                            <a asp-controller="Role" asp-action="Edit" asp-route-encryptedId="@obj.EncryptedId"
                            class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a> |
                            <a asp-controller="Role" asp-action="Delete" asp-route-encryptedId="@obj.EncryptedId"
                            class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>   
</div>