@using Domain._DTO.UserAccount
@model ChangePasswordDto


@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


<div class="changePasword-container">
    <form method="post" action="@Url.Action("SubmitPasswordChange", "UserAccount")">
        <div class="changePassword-section">
            <div class="changePassword-col">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="changePassword-col">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="changePassword-col">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }