
@{
    Layout = "~/Views/Shared/_Dependencies.cshtml";
}

<style>
    .centered-form {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

        
    form {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group{
        width:370px;
        margin-bottom:20px;
    }

</style>


<div class="centered-form">
    <h1>Forgot Password</h1>
    <form asp-controller="UserAccount" asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
