@using Domain._DTO.UserAccount
@model ProfileUpdateDto

<link rel="stylesheet" href="~/css/profileInformation.css" />


@{
	Layout="~/Views/Shared/_ProfileLayout.cshtml";
	ViewData["Title"] = "Profile";
}


<form method="post" action="@Url.Action("UpdateUserProfile", "UserAccount")" enctype="multipart/form-data">
	<input asp-for="EncryptedId" hidden />
	<input asp-for="EncryptedRoleId" hidden />
	<input asp-for="ProfileImage" hidden />
	<div class="profile-section">
		<h2>Profile Information</h2>
		<hr/>
		<div class="profile-picture" id="profilePictureContainer">
			<div id="imagePreview">
				@if (Model != null && !string.IsNullOrEmpty(Model.ProfileImage))
				{
					<img src="@Model.ProfileImage" alt="Profile picture">
				}
				else
				{
					<span>Drag &amp; Drop or Click to Select</span>
				}
			</div>
			<input asp-for="ProfileImage" type="file" class="custom-file-input" id="profileImage" name="file" accept="image/png, image/jpeg, image/jpg"/>
		</div>
		<br/>
		<div class="profile-input-row">
			<div class="profile-input-col">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="profile-input-col">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="profile-input-col">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="profile-input-col">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="profile-input-col">
				<label asp-for="PhoneNumber" class="control-label"></label>
				<input asp-for="PhoneNumber" class="form-control" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="profile-input-col">
				<label asp-for="Address" class="control-label"></label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
		</div>
		<div class="form-btn">
			<button type="submit" class="btn btn-primary">Update Profile</button>
		</div>
	</div>
</form>


@section scripts{
	<script src="~/js/updatePhotoProfile.js"></script>
}