@using Domain._DTO.UserAccount
@model ResetPasswordDto

@{
    Layout = "~/Views/Shared/_Dependencies.cshtml";
}

<div class="container mt-5">
    <div class="col-md-8 offset-md-2 border p-4">
        <h2 class="mb-4">Reset Password</h2>
        <form asp-controller="UserAccount" asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }