* {
    margin: 0;
    padding: 0;
}

.form a i {
    color: #35ecff;
    padding: 7px;
}

.row-container{
    margin-top:150px;
}

.table th {
    height: 70px;
    padding: 20px;
    width: 250px;
}

.table .actions a {
    padding: 12px;
}

.pagination {
    margin-top: 33px;
    text-align: center;
    display: block;
}

.pagination a.current {
    background-color: #007bff;
    color: #fff;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 5px;
}


.pagination a:hover {
    background-color: #90c0f3;
}
