*{
    margin:0;
    padding:0;
}

.event-img{
    object-fit:fill;
    width:950px;
    height:350px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.countdown-number {
    font-size: 24px;
    font-weight: bold;
    color: gray; 
    background-color: lightgray; 
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

.countdown-label {
    font-size: 14px;
    margin-top: 5px;
    color: gray;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.proccessing {
    margin: -7px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}