* {
    margin: 0;
    padding: 0;
}

.form a i {
    color: #35ecff;
    padding: 7px;
}

.row-container{
    margin-top:120px;
}

.list-btn {
    display: block;
    color: #fff;
    max-width:130px;
    background-color: #2a3042;
    height: 33px;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
}

.list-btn:hover{
    color:#fff;
    opacity:0.9;
}

.create-btn {
    display: block;
    color: #fff;
    max-width: 130px;
    background-color: #2a3042;
    height: 33px;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
}

.create-btn:hover {
    color: #fff;
    opacity: 0.9;
}

.create-btn i{
    padding:5px;
}

table{
    border-collapse:collapse;
    width:100%;
}

th,td{
    padding:1rem;
}
th {
    text-align: left;
    background: #2a3042;
    color: white;
}

.pagination {
    margin-top: 33px;
    text-align: center;
    display: block;
}

.pagination a.current {
    background-color: #007bff;
    color: #fff;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 5px;
}


.pagination a:hover {
    background-color: #90c0f3;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon span {
    height: 60px;
    width: 60px;
    display: block;
    color: #505050;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    position: relative;
}

.icon span i {
    font-size: 25px;
    line-height: 60px;
}

.icon .toltip {
    background: #444444;
    font-size: 15px;
    padding: 9px 8px;
    text-align: center;
    line-height: 10px;
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    width: 80px;
    height: 31px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.icon:hover .toltip {
    opacity: 1;
    top: -38px;
    pointer-events: auto;
}

.icon .toltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #444444;
    bottom: -7px;
    left: 33%;
    transform: translateX(-50%) rotate(45deg)
}


/* Extra Small (XS) Screens */
@media (max-width: 480px) {
    .actions-container{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .grid-column{
        max-width:100%;
    }
    .list-btn{
        max-width:100px;
        height:30px;
        font-size:12px;
    }
    .create-btn {
        max-width: 100px;
        height: 30px;
        font-size: 12px;
    }
    tr:nth-of-type(2n) {
        background: #e2e2e2;
    }
    th{
        display:none;
    }
    td{
        display:grid;
        gap:0.5rem;
        grid-template-columns: 15ch auto;
        padding:0.5rem 1rem;
    }
    td::before{
        content:attr(data-cell) ": ";
        font-weight:700;
        text-transform:capitalize;
    }
    .actions{
        justify-content:start;
    }
    .icon span{
        height:50px;
        width:50px;
    }
    .icon span i{
        font-size:15px;
        line-height:50px;
    }
}

/* Small (SM) Screens */
@media (min-width: 481px) and (max-width: 767px) {
    .actions-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .grid-column {
        max-width: 100%;
    }

    .list-btn {
        max-width: 100px;
        height: 30px;
        font-size: 12px;
    }

    .create-btn {
        max-width: 100px;
        height: 30px;
        font-size: 12px;
    }
    tr:nth-of-type(2n) {
        background: #e2e2e2;
    }
    th {
        display: none;
    }

    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

    .actions {
        justify-content: start;
    }

    .icon span {
        height: 50px;
        width: 50px;
    }

    .icon span i {
        font-size: 15px;
        line-height: 50px;
    }
}

/* Medium (MD) Screens */
@media (min-width: 768px) and (max-width: 991px) {
    th {
        font-size: 10px;
        padding: 10px;
    }
    td {
        padding: 5px;
        font-size: 10px;
    }
    .icon span {
        height: 50px;
        width: 50px;
    }

    .icon span i {
        font-size: 15px;
        line-height: 50px;
    }
}

/* Large (LG) Screens */
@media (min-width: 992px) and (max-width: 1199px) {
    th {
        font-size: 13px;
        padding: 12px;
    }

    td {
        padding: 12px;
        font-size: 12px;
    }

    .icon span {
        height: 50px;
        width: 50px;
    }

    .icon span i {
        font-size: 18px;
        line-height: 50px;
    }
}