html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#notification-icon {
    position: relative;
    margin-right: 20px;
}

#notification-icon i {
    font-size: 24px;
    color: #eaeaea; 
    cursor:pointer;
}

.notification-count {
    position: absolute;
    top: -4px;
    right: -11px;
    background-color: #ff1c1c;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
}

.show-dropdown {
    position: absolute;
    display: block;
    top: 100%;
    left:0;
    width:276px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    z-index:2;
}

.hide-dropdown{
    display:none;
}

#notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#notification-list li {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 6px;
}

#notification-list li.unread-notification:hover {
    background-color: #ddd;
}

#notification-list li:last-child {
    border-bottom: none;
}


#notification-dropdown::-webkit-scrollbar {
    width: 8px; 
}

#notification-dropdown::-webkit-scrollbar-thumb {
    background-color: #aaa; 
    border-radius: 4px; 
}

#notification-dropdown::-webkit-scrollbar-track {
    background-color: #D5D5D5;
}

#notification-list li.read-notification {
    background-color: #c5c5c5;
    border-radius: 11px;
}

#notification-list li.unread-notification {
    background-color: inherit; 
}

.user-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.user-dropdown .dropdown-link {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.user-dropdown .fa-circle-user {
    font-size: 22px;
    padding: 0 9px;
    transition: transform 0.5s ease-in-out;
}

.user-dropdown:hover .fa-circle-user {
    transform: rotate(360deg);
}

.user-dropdown .fa-chevron-down {
    color: #a0a4ab;
    font-size: 17px;
    padding: 0 17px;
}

.user-dropdown .dropdown-content {
    display: block;
    width: 220px;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.user-dropdown:hover .dropdown-content {
    opacity:1;
    transform:translateY(0);
}

.user-dropdown .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    opacity:0;
    text-decoration: none;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;        
}

.user-dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.user-dropdown:hover .dropdown-content a {
    opacity: 1;
    transform: translateY(0);
}

#toast-container > .toast-success {
    background-color: #28a745;
    color: #fff;
}

#toast-container > .toast-error {
    background-color: #dc3545;
    color: #fff;
}

#toast-container > .toast-warning {
    background-color: #ffc107;
    color: #000;
}

#toast-container > .toast-info {
    background-color: #17a2b8;
    color: #fff;
}
